@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-notifications/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";

@font-face {
  font-family: "product-sans";
  src: url("./assets/Product Sans Regular.ttf");
}

/* * {
  font-family: "poppins", sans-serif;
} */
body:has(.eventhive) {
  background-color: #f8f8fa;
  font-family: "product-sans";
}
body:has(.eventhive) :is(h1, h2, h3) {
  font-weight: 700;
}
body:has(.eventhive) h1 {
  font-size: 2rem;
  line-height: 1.2 !important;
}
body:has(.eventhive) h2 {
  font-size: 2rem;
  line-height: 2rem;
}
body:has(.eventhive) h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}
body:has(.white-bg) {
  background: #fff;
}
/* preloader */
.typing-text {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3.5s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15rem;
  }
}

.Hide::-webkit-scrollbar {
  display: none;
}
